* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace, sans-serif;
}

.timer {
  $size: 400px;
  width: $size;
  height: $size;
  border: 4px solid red;
  border-radius: 50%;
  overflow: hidden;
  padding: 20px;

  &__wrapper {
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }
  &__remaining {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 40px;
  }
  &__content {
    height: 100%;
    //transform: translate(0px, 50%);
    // transition: transform 100ms;
    position: relative;
    border-top: 1px solid aquamarine;
  }
  &__wave {
    display: flex;
    width: 120%;
    position: absolute;
    top: 0;
    animation: wave 2s infinite ease-in-out;
    z-index: 1;
    transform: translate(0px, -100%);
    svg {
      flex-basis: auto;
      flex-grow: 1;
      flex-shrink: 1;
      fill: aquamarine;
    }
    &--bg {
      z-index: 0;
      animation-delay: .8s;
      svg {
        fill: aqua;
      }
    }
  }
  &__body {
    background-color: aquamarine;
    height: 100%;
  }
}

@keyframes wave {
  0% {
    transform: translate(0%, -100%);
  }
  50% {
    transform: translate(-16.66%, -100%);
  }
  100% {
    transform: translate(0%, -100%);
  }
}


.thandle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;

  &__number {
    font-size: 25px;
    margin: 10px 0;
  }

  &__arrow {
    --arrow-color: rgb(92, 92, 92);
    border: 15px solid transparent;
    cursor: pointer;
    
    &--up {
      border-bottom-color: var(--arrow-color);
      border-top-width: 0;
    }
    &--down {
      border-top-color: var(--arrow-color);
      border-bottom-width: 0;
    }
    &:hover {
      --arrow-color: rgb(50, 50, 50);
    }
  }
}

.controls {
  display: flex;
  align-items: center;

  &__label {
    font-size: 16px;
    margin-left: 5px;
  }

  &__start {
    margin-left: 20px;
  }
}